body {
  font-family: 'Montserrat', sans-serif;
}

.list-group-item {
  &:nth-child(1) {
    border-style: none;
  }
  &:nth-child(2) {
    border-left-width: 1px!important;
  }
  &:hover {
    cursor: pointer;
  }
}

.badge-info {
  &:hover {
    cursor: pointer;
  }
}
