<h2 class="pull-left col-md-2 mt-4 logo" [routerLink]="['/home']">MovieRama</h2>
<div class="pull-right mt-4 mr-4">
	<ng-container *ngIf="!isLoggedIn">
		<a [routerLink]="['/login']">Login </a>&nbsp;
		<span class="badge badge-pill badge-primary p-2" [routerLink]="['/signup']"
			>Signup
		</span>
	</ng-container>
	<ng-container *ngIf="isLoggedIn">
		<span>Welcome back <b>{{loggedinUserEmail}}</b></span
		>&nbsp;&nbsp;
		<span
			class="badge badge-primary p-2"
			[routerLink]="['/']"
			(click)="onLogout()"
			>Logout
		</span>
	</ng-container>
</div>
