<app-header class="col-md-12" (logout)="onLogout($event)"></app-header>
<ng-container *ngIf="movies && !movies.length">
	<div class="pull-left col-md-12 mt-4">
		<div class="alert alert-primary" role="alert">
			<span
				>Please add a new movie if you have already create a user visiting
				<a [routerLink]="['/register']">Register</a> page or by
				<a [routerLink]="['/login']">logging in</a></span
			>
		</div>
	</div>
</ng-container>
<div *ngIf="movies && movies.length" class="pull-left mt-4 mb-4 col-md-12">
	<app-sorting
		[field]="field"
		[direction]="direction"
		(sort)="orderBy($event)"
		(clearFilters)="onClearFilters()"
	>
	</app-sorting>
</div>
<div *ngIf="isLoggedIn" class="pull-left col-md-12 mt-2 mb-4">
	<button type="button" class="btn btn-success">
		<span [routerLink]="['/add-movie']">New movie</span>
	</button>
</div>
<ng-container *ngIf="movies && movies.length">
	<ng-container *ngFor="let movie of movies; trackBy: trackByMovieId">
		<div class="card mt-4">
			<h5 class="card-header">{{movie.name}}</h5>
			<div class="card-body">
				<p>
					<span>Posted by</span>
					<button
						type="button"
						class="btn btn-link"
						(click)="fetchMoviesByUserId(movie.createdBy?._id)"
					>
						{{movie.createdBy?.username}}</button
					>&nbsp; {{movie.createdAt | calculateElapsedTime}}
				</p>
				<p class="card-text">{{movie.description}}</p>
				<p
					*ngIf="authService.getUser()
            && canUserVote(authService.getUser()._id, movie.createdBy?._id)"
					class="card-text"
				>
					<ng-container
						*ngIf="canBeTheFirstToVote(movie.likedBy, movie?.hatedBy)"
					>
						Be the first to vote for this movie:
						<button
							type="button"
							class="btn btn-link"
							(click)="likeMovie(movie._id)"
						>
							Like</button
						>&nbsp;|
						<button
							type="button"
							class="btn btn-link"
							(click)="hateMovie(movie._id)"
						>
							Hate
						</button>
					</ng-container>
					<ng-container
						*ngIf="canLikeButtonBeEnabled(authService.getUser()._id, movie.likedBy)
              && canHateButtonBeEnabled(authService.getUser()._id, movie.hatedBy)
              && !canBeTheFirstToVote(movie.likedBy, movie.hatedBy)"
					>
						<button
							type="button"
							class="btn btn-link"
							(click)="likeMovie(movie._id)"
						>
							{{movie.likedBy?.length}} likes</button
						>&nbsp;
						<button
							type="button"
							class="btn btn-link"
							(click)="hateMovie(movie._id)"
						>
							{{movie.hatedBy?.length}} hates</button
						>&nbsp;
					</ng-container>
					<ng-container
						*ngIf="!canLikeButtonBeEnabled(authService.getUser()._id, movie.likedBy)
              && canHateButtonBeEnabled(authService.getUser()._id, movie.hatedBy)"
					>
						<span> {{movie.likedBy?.length}} likes</span>&nbsp;
						<button
							type="button"
							class="btn btn-link"
							(click)="hateMovie(movie._id)"
						>
							{{movie.hatedBy?.length}} hates</button
						>&nbsp;
					</ng-container>
					<ng-container
						*ngIf="canLikeButtonBeEnabled(authService.getUser()._id, movie.likedBy)
              && !canHateButtonBeEnabled(authService.getUser()._id, movie.hatedBy)"
					>
						<button
							type="button"
							class="btn btn-link"
							(click)="likeMovie(movie._id)"
						>
							{{movie.likedBy?.length}} likes</button
						>&nbsp; <span> {{movie.hatedBy?.length}} hates</span>&nbsp;
					</ng-container>
					<ng-container
						*ngIf="hasUserLikedTheMovie(authService.getUser()._id, movie?.likedBy)"
					>
						<span class="pull-right">
							<span>You like this movie</span>&nbsp; |
							<button
								type="button"
								class="btn btn-link"
								(click)="resetVote(movie._id)"
							>
								Unlike
							</button>
						</span>
					</ng-container>
					<ng-container
						*ngIf="hasUserHatedTheMovie(authService.getUser()._id, movie?.hatedBy)"
					>
						<span class="pull-right">
							<span>You hate this movie</span>&nbsp; |
							<button
								type="button"
								class="btn btn-link"
								(click)="resetVote(movie._id)"
							>
								Unhate
							</button>
						</span>
					</ng-container>
				</p>
				<p
					*ngIf="!authService.getUser()
            || !canUserVote(authService.getUser()
            && authService.getUser()?._id, movie.createdBy?._id)"
					class="card-text"
				>
					<span>{{movie.likedBy?.length}} likes</span>&nbsp;&nbsp;
					<span>{{movie.hatedBy?.length}} hates</span>
				</p>
			</div>
		</div>
	</ng-container>
</ng-container>
